.news-wrap {
    display: flex;
    flex-direction: column;

    align-items: center;

    padding-top: 10px;

    .news-result-warp {
        margin-bottom: 30px;
    }

    .button-position {
        bottom: 0;
        right: 50vw;
        
        margin-bottom: 2px;
    }
}
